/node_modules/

/packages/@svelte-in-motion-agent/dist/
/packages/@svelte-in-motion-agent/node_modules/
/packages/@svelte-in-motion-animations/node_modules/
/packages/@svelte-in-motion-builtin-extensions/dist/
/packages/@svelte-in-motion-builtin-extensions/node_modules/
/packages/@svelte-in-motion-bundling/node_modules/
/packages/@svelte-in-motion-configuration/dist/
/packages/@svelte-in-motion-configuration/node_modules/
/packages/@svelte-in-motion-core/node_modules/
/packages/@svelte-in-motion-editor/.vercel/
/packages/@svelte-in-motion-editor/dist/
/packages/@svelte-in-motion-editor/node_modules/
/packages/@svelte-in-motion-editor/vite.config.ts.js
/packages/@svelte-in-motion-encoding/dist/
/packages/@svelte-in-motion-encoding/node_modules/
/packages/@svelte-in-motion-rendering/dist/
/packages/@svelte-in-motion-rendering/node_modules/
/packages/@svelte-in-motion-rpc/dist/
/packages/@svelte-in-motion-rpc/node_modules/
/packages/@svelte-in-motion-runtime/dist/
/packages/@svelte-in-motion-runtime/node_modules/
/packages/@svelte-in-motion-screenshot/node_modules/
/packages/@svelte-in-motion-storage/node_modules/
/packages/@svelte-in-motion-utilities/node_modules/
/packages/@svelte-in-motion-tauri/node_modules/
/packages/@svelte-in-motion-temporal/dist/
/packages/@svelte-in-motion-temporal/node_modules/
/packages/@svelte-in-motion-type/dist/
/packages/@svelte-in-motion-type/node_modules/